html(lang="en")
  head
    meta(name='viewport', content='width=device-width initial-scale=1')
    title= siteName
    link(type='text/css', rel='stylesheet', href='styles/main.css')
  body(class=site)
    div.page-wrap
      header
        h1 #{siteName} is down. :(
        p We will be back up soon.
        img(src='images/' + site + '.jpg')
